# Virtual Environment
venv/
.venv/
env/
*.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
*.sqlite3

# Media files
media/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/

# Log files
*.log
logs/

# Static files collected by Django
staticfiles/
